@model Blog.Models.Post
<html>

<head>
</head>

<body>

    <form action="/Post/Adiciona" method="post">

        <label> Título: <input name="titulo" value="@Model.Titulo" /></label>@Html.ValidationMessageFor(Model => Model.Titulo)
        <label> Resumo: <input name="resumo" value="@Model.Resumo" /></label>@Html.ValidationMessageFor(Model => Model.Resumo)
        <label> Categoria: <input name="categoria" value="@Model.Categoria" /></label>@Html.ValidationMessageFor(Model => Model.Categoria)

        <button type="submit">Cadastrar</button>

    </form>

</body>

</html>