@model Blog.Models.Post
<html>

<head>
</head>

<body>

    <form action="/Post/EditaPost" method="post">

        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="publicado" value="@Model.Publicado.ToString()" />
        <input type="hidden" name="dataPublicao" value="@Model.DataPublicao" />

        <label> Título: <input name="titulo" value="@Model.Titulo" /></label>@Html.ValidationMessageFor(Model => Model.Titulo)
        <label> Resumo: <input name="resumo" value="@Model.Resumo" /></label>@Html.ValidationMessageFor(Model => Model.Resumo)
        <label> Categoria: <input name="categoria" value="@Model.Categoria" /></label>@Html.ValidationMessageFor(Model => Model.Categoria)

        <button type="submit">Atualizar</button>

    </form>

</body>

</html>